body { background: #25262B; -webkit-box-orign: vertical }

#iOS_outSide_bg { width: 380px; height: 742px; margin: 0 auto; background-image: url(../resource/images/background/iphone-bg.png) }
#iOS_system_content { -webkit-box-orient : vertical; position: relative; width: 320px; height: 480px; -webkit-transform: translate3d( 32px, 129px, 0 ); overflow: hidden; }

/**
 * bootScreen
 */
.iOS_bootScreen { position: absolute; z-index: 999; background: black; -webkit-box-align: center; -webkit-box-pack: center; width: 100%; height: 100% }

/**
 * topBar
 */
.iOS_topBar { -webkit-box-flex: 20; background: white }

/**
 * iOS
 */
.iOS { -webkit-box-flex: 460; }